apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: devcontainer-pipeline-service
spec:
  replicas: 1
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-user-workloads-stage/xjiang-tenant/pipeline-service/devcontainer-pipeline-service@sha256:e9b6e880a8bc40bf06362bdb4ecf31fc6619755790fcf25ed022c2fb7f046c4d
        name: container-image
        resources: {}
status: {}
