apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: devcontainer-pipeline-service
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: devcontainer-pipeline-service
    app.kubernetes.io/part-of: pipeline-service
  name: devcontainer-pipeline-service
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app.kubernetes.io/instance: devcontainer-pipeline-service
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app.kubernetes.io/instance: devcontainer-pipeline-service
    spec:
      containers:
      - image: quay.io/redhat-user-workloads-stage/xjiang-tenant/pipeline-service/devcontainer-pipeline-service@sha256:e9b6e880a8bc40bf06362bdb4ecf31fc6619755790fcf25ed022c2fb7f046c4d
        imagePullPolicy: Always
        name: container-image
        ports:
        - containerPort: 8080
        resources:
          requests:
            cpu: 10m
            memory: 50Mi
status: {}
